@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
*{ 
    box-sizing: border-box;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
height: 42px;
    filter: invert(1);
}


#navbar{
    background-color: #8c8ac3;
    padding: 4px 5px;
    font-family: 'Yeon Sung';
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white; 
    font-size: 30px;
    text-decoration: none;
    padding: 13px 20px;
}

#navbar li a:hover{
    color: black;  
}

#introSection{
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background-color: red;
}

#introSection div.small{
    font-size: 45px;
    padding: 5px;
}

#missionSection{
    height: 325px;
    width: 100%;
    margin: auto;
    
}

#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 9px 15px;
    height: 172px;      
}

.card h3{
    text-align: center;
    margin: 0 30px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.card-img{
    height: 90px;
    padding: 0 10px;
    margin: 5px 11px
}

.card-img img{
    height: inherit; 
}

.card-content{
    padding: 0 3px;
}

.card-content p{
    font-size: 19px;
}
#sponsorsSection{
    height: 315px;
    background-color: #fbd6d6c7;
}

#sponsorsSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}

#sponsors{
    height: 193px;
    max-width: 1000px;
    margin: -31px;
}    

.spImage{
    height: 50%;
    margin: 63px;
}

#footer{
    display: flex;
    color:white;
    background-color: black;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Yeon Sung' ;
}